{{title "Minecraft POI"}}

{{#paper-toolbar}}
  <div class="md-toolbar-tools">
    <h2>
      {{#link-to "index"}}Minecraft POI{{/link-to}}
    </h2>

    <span class="u-flex"></span>
  </div>
{{/paper-toolbar}}

{{outlet}}
